#content{
	width: 50%;
	margin-left: 25%;
	margin-bottom: 50px;
}

#productForm{
	width: 90%;
	border-style: solid;
	margin-left: 5%;
	margin-right: 5%;
	border-color: #C00;
	border-width: 2px;
	border-bottom-right-radius: 5%;
}

#house_no, #street_name, #apart_no, 
#city, #province, #zip, #country, #state, #image, #desc,
#rooms, #bath, #livingRooms, #price {
    background-color: #D4D4BF;
    border: none;
    height: 40px;
    font-size: 15pt;
    margin-top: 10px;
    padding-left: 15px;
    margin-left: 20px;
}

#house_no{
	margin-top: 40px;
	width: 80px;
}

#street_name{
	width: 75%;
	margin-left: 20px;
	margin-right: 10px;
}

#apart_no{
	width: 36%;
}

#zip{
	width: 50%;
	margin-right: 10px;
}

#country, #state, #city{
	width: 27.6%;
}

#city{
	margin-right: 10px;
}


#range{
	margin-top: 15px;
	margin-bottom: 15px;
}

label{
	font-size: 14pt;
	margin-left: 10px;
	margin-right: 2px;
}

#desc{
	 font-family: "Times New Roman", Times, sans-serif;
	 margin-right: 10px;
	 height: 150px;
	 width: 90%;

}

#rooms, #bath, #livingRooms{
	width: 11%;
}

#livingRooms{
	margin-right: 5px;
}

#price{
	width: 90%;
	text-align: center;
}

#upload{
	width: 92%;
    border: none;
    height: 43px;
    font-size: 18pt;
    margin-top: 20px;
    background-color: #424250;
    color: white;
    margin-bottom: 15px;

}

h2{
	font-family: 'Gotham Book', Gotham-Book, Arial, sans-serif;
	font-weight: bold;
	color: #424250;
}